<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Userlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<p th:text="'Hello, ' + ${title} + '!'" />
<div th:each="el1 : ${users}" class="alert alert-info mt-2">
    <h3 th:text="${el1.username}"></h3>
    <h3 th:text="${el1.id}"></h3>
    <h3 th:text="${el1.roles}"></h3>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>